/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */
#site-logo {
  height: 1.5em;
  width: auto;
  float: left;
  padding-right: .5em;
}

.site-heading {
  display: none;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
  text-decoration: none;
  color: #6D4D78;
  text-shadow: none;
  font-size: 0.5em;
}

.site-heading a:link,
.site-heading a:visited {
  color: #6D4D78;
}

#site-title a:hover {
  color: #6D4D78;
}

#site-header {
  background-color: white;
}


/* submission confirmation message */

.submission-confirmation {
  background-color: #e5ffcc;
  padding: 1em ;
  margin: 0 0 1em;
}
.submission-confirmation p {
  margin-bottom: 0 !important;
  font-size: 0.85em;
}
.submission-confirmation strong {
  display: block;
  font-size: 1.5em;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
  .site-heading {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}