/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */
#site-logo {
  height: 1.5em;
  width: auto;
  float: left;
  padding-right: .5em;
}

.site-heading {
  display: none;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
  text-decoration: none;
  color: #6D4D78;
  text-shadow: none;
  font-size: 0.5em;
}

.site-heading a:link,
.site-heading a:visited {
  color: #6D4D78;
}

#site-title a:hover {
  color: #6D4D78;
}

#site-header {
  background-color: white;
}


/* submission confirmation message */

.submission-confirmation {
  background-color: #e5ffcc;
  padding: 1em ;
  margin: 0 0 1em;
}
.submission-confirmation p {
  margin-bottom: 0 !important;
  font-size: 0.85em;
}
.submission-confirmation strong {
  display: block;
  font-size: 1.5em;
}

.close-link {
  text-decoration: underline;
}




/* List View Button */
.list-toggle-nav {
  float: left;
}
.list-toggle-btn,
.list-toggle-btn:visited,
.list-toggle-btn:link {
  background-color: #555;
  color: #fff;
/*  font-weight: 800;*/
/*  min-width: 11.5em;*/
}
.list-toggle-btn:hover {
  background-color: #000;
  color: #fff;
}
.show-the-map:before {
  content: '\27A4';
  margin: 0 0.375em;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 30% 60%;
      -ms-transform-origin: 30% 60%;
          transform-origin: 30% 60%;

}
.show-the-list:before {
  content: '\2630';
  margin: 0 0.375em;
  text-shadow: -0.25em -1px 0 #555, -0.25em 1px 0 #555, -0.375em 0 0 #fff;
}
.list-toggle-btn:hover .show-the-list:before {
  text-shadow: -0.25em -1px 0 #000, -0.25em 1px 0 #000, -0.375em 0 0 #fff;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
  .site-heading {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}