/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #fff;
}
#site-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: none;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  position: relative;
  color: #000;
  font-size: 1.5em;
}
#site-title a:hover {
  color: #000;
}
#site-logo {
  float: left;
  height: 2.75em;
  margin-right: 0.5em;
}
#site-tagline {
  display: none;
  float: left;
  max-width: 10em;
  position: relative;
  top: 0.25em;
}



/* list view */

  /* List View Button */
  .list-toggle-nav {
    font-size: 1em;
    float: left;
  }
  
/* media buttons */
.dks-menu-desktop {
  width: 18em;
  float: right;
  display: none;
  text-decoration: none;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
  .site-heading {
    display: inline;
  }

}

@media only screen and (min-width: 1024px) {
  .dks-menu-mobile {
    display: none;
  }
  .dks-menu-desktop {
    display: block;
  }
}

@media only screen and (min-width: 1300px) {
  .dks-menu-mobile {
    display: none;
  }
  
}