/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #fff;
}
#site-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: none;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  position: relative;
  color: #000;
  font-size: 1.5em;
}
#site-title a:hover {
  color: #000;
}
#site-logo {
  float: left;
  height: 2.75em;
  margin-right: 0.5em;
}
#site-tagline {
  display: none;
  float: left;
  max-width: 10em;
  position: relative;
  top: 0.25em;
}

/* Sign In Menu */
#sign-in-btn {
  color: #007fbf;
}
#sign-in-btn:hover {
  color: #00aaff;
}

/* list view */
.list-toggle-nav {
  float: left;
}
.list-toggle-btn,
.list-toggle-btn:visited,
.list-toggle-btn:link {
  background-color: #ccc;
  color: #007fbf;
}
.list-toggle-btn:hover {
  background-color: #007fbf;
  color: #fff;
}


@media only screen and (min-width: 60em) {

  #sign-in-btn {
    font-size: 0.75em;
    color: #000;
    padding: 0;
    margin: 0.5em 0.75em 0 0;
    width: 18em;
    text-align: center;
    z-index: 2;
  }
  .sign-in-menu {
    display: block;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    font-size: 0.75em;
    padding: 2.75em 1.5em 0 0;
    top: 0;
    right: 0;
  }
  .sign-in-menu:before {
    display: none;
  }

}

/* REMOVE THIS TO UNHIDE SIGN IN */
/*#sign-in-btn, .sign-in-menu, .or-sign-in { display: none !important; }*/
